---
layout: page
title: Homekit Device Repository
---
<div class="container">
    <div class="row">
        <div class="column column-75">
        <h4>List of HomeKit devices</h4>
        </div>
        <div class="column colum-25 float-right">
            <span style="vertical-align: middle;"><strong>{% assign counter = 0 %}{% for item in site.homekit %}{% assign counter=counter | plus:1 %}{% endfor %}{{ counter }}</strong> devices listed.</span>
        </div>
    </div>
<div class="row">
    <div class="column">
    <h4></h4>
    </div>
</div>
<div>
</div>
<div class="row">
    <div class="column column-90">
<h5><a href="last_added.html">Recently added:</a></h5>
{% assign sorted = site.homekit  | sort: "date_added" | reverse %}
<table>
    <tbody>
        {% for template in sorted limit: 30 %}
        {% include tablerow.html %}
        {% endfor %}
    </tbody>
</table>
</div>
</div>